[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
flask-migrate = "*"
flask-cors = "*"
werkzeug = "*"
faker = "*"
gunicorn = "*"
honcho = "*"

[dev-packages]

[requires]
python_version = "3.12.1"